<!doctype html>
<html len="en">
	<head>
<link rel="stylesheet"
 href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.6.min.css"
 type="text/css" />
<script
 src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.6.min.js">
</script>
<title>Milestone_project</title>
	</head>

	<body>
		<script type="text/x-mathjax-config">
		MathJax.Hub.Config({
			TeX: {
				equationNumbers: {  autoNumber: "AMS"  },
				extensions: ["AMSmath.js", "AMSsymbols.js", "autobold.js"]
	     		     }
			           });
		</script>
			<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
		</script>
<h3>Here is the requested data! <a href='/index'>Return</a></h3>
	<p>
		{{result[1]|safe}}
		{{result[2]|safe}}
	</p>
</body>
</html>
